# Default database for local development
DATABASE_URL=sqlite:///./eventhub.db

# Later examples:
# PostgreSQL:
# DATABASE_URL=postgresql+psycopg://user:password@localhost/eventhub
#
# Oracle:
# DATABASE_URL=oracle+oracledb://user:password@localhost:1521/?service_name=FREEPDB1
